*{
    color: aliceblue;
}
#navbar{
    height: 60px;
    background-color: black;  
    color: azure;
}
#logo{
    font-size: 25px;
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
button{
    background-color: #f08804;
} 
.contentBox{
    height: 100px;
    width: 100px;
    background-color: rgb(195, 146, 241); 
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    margin-top: 5px;
   
}
#content{
    height: 500px;
    background-color:rgba(0, 0, 0, 0.767);
}
footer{
    background-color: black;
    text-align: center;
}